/* -------- Reset styles ------- */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  /* border: 0; */
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  line-height: 0;
}

input,
textarea,
button {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  transition: opacity 250ms ease-in;
}
button:hover {
  opacity: 0.8;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

html,
body {
  height: 100%;
  line-height: 1;
}
